<!doctype html>
<html lang="en">
  <head>
   <%- include('components/layout/header') -%>
  </head>
  <body>
    <%- include('components/elements/navbar') -%>
    <%- include('components/layout/footer') -%>
  </body>
</html>