<!doctype html>
<html lang="en">
  <head>
   <%- include('components/layout/header') -%>
  </head>
  <body>
    <h1>Using EJS and gulp</h1>

    <%- include('components/layout/footer') -%>
  </body>
</html>